*{
	margin:0;
	padding:0;
	box-sizing:border-box;


}

body {
	background:#f2f2f2;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	padding-top: 75px;


}

header{
	background: #4357ad;
	position: fixed;
	width: 100%;
	height: 70px;
	top:0;


}
.admin{

	background-color: #A4A4A4;
		background-image: url("../img/fondo_admin.jpg" );
		background-size: 100%;


}

.formulario_modal{

	align-content: center;
	

}
.formulario{

	background: #F2F2F2;
	width:25%;
	align-content: center;
	margin-top:17%;
	margin-left:40%;
	margin-right: 40%;
	box-shadow: -9px 9px 21px 0px rgba(50, 50, 50, 0.75);
	border-radius: 26px 26px 26px 26px;
	

}
.menu{
	width: 90%;
	max-width: 1000px;
	margin:auto;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;


}

.menu .logo{
	display:inline-block;
	margin-right: 1em;



}

.menu .logo img{
	vertical-align: top;
	height: 50px;

}

.menu .btn-menu {
	display:none;
	color: #fff;
	text-decoration: nonre;
	font-size: 1em;


}

.menu.logo:hover{
		background: #4357ad;

}

.menu .enlaces {
	display: inline-block;
	margin-top:2%;
	text-align:right;
	text-decoration: none;

}

.menu .enlaces a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	padding:1em;
	text-align: center;


}

.menu .enlaces a:hover {
	background: #f2f2f2;
	color: #4357ad;


}

main{
	width:90%;
	max-width: 1000px;
	margin: 30px auto;
	background: #fff;
	padding:20px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.75);

}

main article h1 {
	font-weight: normal;
	margin-bottom: .5em;
}

main article hr {
	margin-bottom: 1em;
	height: 2px;
	background: #4357ad;
	border:none;
}


/*media queries*/
@media screen and (max-width: 700px){
	header .menu{
		flex-direction: column;

	}
	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding:1em;



	}

	header .menu .logo .btn-menu{
		display:inline-block;
		

	}

	header .menu .enlaces {

		width: 100%;
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content: space-around;
		

	}

}

